<div id="assig2">
  
  <title> Assignment 2 HTML </title>
<h1> Assignment 2 HTML </h1>


  <h2> Table Diagram 1</h2>
  <table class= "styled"> 
  <tr>
    <th> Rank </th>
    <th> Name </th>
    <th> Points </th>
    <th> Team </th>
  </tr>
  <tr>
    <td> 1 </td>
    <td> Domenic </td>
    <td> 88,110 </td>
    <td> dcode </td>
  </tr>
  <tr>
    <td> 2 </td>
    <td> Sally </td>
    <td> 72,400 </td>
    <td> Students </td>
  </tr>
  <tr>
    <td> 3 </td>
    <td> Nick </td>
    <td> 52,300 </td>
    <td> dcode </td>
  </tr>
  </table>

  <h2> Form Diagram 2</h2>
  <h3> Complete Web Form</h3>
  
  <form> 
    <label for= "First Name"> <b>First Name</b> </label>
    <input name = "First Name" id = "First Name" type = "text" required placeholder= "Enter First Name"> <br>
    <label for= "Last Name "> <b>Last Name </b> </label>
    <input name = "Last Name" id = "Last Name" type = "text" required placeholder= "Enter Last Name"> <br>
    <label for= "Job Title"> <b>Job Title</b> </label>
    <input name = "Job Title" id= "Job Title" type = "text" required placeholder= "Enter your Job Title"> <br> <br>
    
    <fieldset>
      <legend> <b>Highest level of education</b> </legend>
      <input id = "highschoolRadio" name="education" type="radio" value="High School"> 
    <label for="highschoolRadio"> High School </label> <br>
      
      <input id = "collegeRadio" name="education" type="radio" value="College"> 
    <label for="collegeRadio"> College </label> <br>
      
      <input id = "gradSchoolRadio" name="education" type="radio" value="rad School"> 
    <label for="gradSchoolRadio"> Grad School </label> <br> 
      
    </fieldset> <br>
    
    <fieldset>
      <legend> <b> Sex </b> </legend>
      <input id = "male" name="sex" type="checkbox" value="Male"> 
    <label for="male"> Male </label> <br>
      
      <input id = "female" name="sex" type="checkbox" value="Female"> 
    <label for="female"> Female </label> <br>
      
      <input id = "prefer" name="sex" type="checkbox" value="Prefer not to say"> 
    <label for="gprefer"> Prefer not to say </label> <br> 
      
    </fieldset> <br>
    
    <label for="yearsOfExperience"> <b>Years of experience </b> </label> <br>
    <select id="yearsOfExperience" name="yearsOfExperience">
      <option> None </option>
      <option> 1-2 years </option>
      <option> 3-5 years </option>
      <option> 6-10 years </option>
      <option> >10 years </option>
    </select> <br><br>
    
    
    
    <label for="date">  <b>Date</b> </label> 
    <input  id="date" name= "date" type="date" > <br><br>
    
    <button type = "submit"> Submit </button> 
    
  </form> <br>

<h2> Table with images</h2>
<h3> Best 5 Places to visit in Paris </h3>
<table class= "styled"> 
  <tr>
    <th> Rank </th>
    <th> Name </th>
    <th> Description </th>
    <th> Photo </th>
  </tr>
  <tr>
    <td> 1 </td>
    <td> Eiffel Tower </td>
    <td> Designed and constructed for the 1889 Exposition Universelle (the World's Fair), the Eiffel Tower was always meant to be a temporary structure, but it skirted demolition talks twice.  </td>
    <td> <img src="https://i.imgur.com/dtZvgew.jpg" alt="Eiffel Tower"  width="200" height="250"> </td>
  </tr>
  <tr>
    <td> 2 </td>
    <td> Notre Dame </td>
    <td> Note that the cathedral sustained significant damage as a result of a fire on April 15, 2019. Its wooden roof and spire collapsed during the fire. It remains closed to the public until further notice. It is set to reopen in 2024. </td>
    <td> <img src="https://i.imgur.com/FGB7gNN.jpg" alt="Notre Dame"  width="200" height="140"> </td>
  </tr>
  <tr>
    <td> 3 </td>
    <td> Musée du Louvre </td>
    <td> If you only had time to visit one museum in Paris, it should undoubtedly be the Musée du Louvre. That's because the Louvre is not only widely considered to be one of the best art museums in Europe, but one of the best in the world as well. </td>
    <td> <img src="https://i.imgur.com/nFDwuLH.jpg" alt="Louvre museum"  width="200" height="140"> </td>
  </tr>
  <tr>
    <td> 4 </td>
    <td> Sacre-Coeur </td>
    <td> Towering over the eclectic neighborhood of Montmartre (once a hangout for Paris' bohemian crowd), this Roman-Byzantine masterpiece is easily recognized by its ornate ivory domes.  </td>
    <td> <img src="https://i.imgur.com/w8Izlos.jpg" alt="Sacre coeur"  width="200" height="140"> </td>
  </tr>
  <tr>
    <td> 5 </td>
    <td> Arc de Triomphe </td>
    <td> Situated at the western end of the Champs-Élysées, the towering Arc de Triomphe was commissioned by Napoléon to honor the Grande Armee during the Napoleonic Wars </td>
    <td> <img src="https://i.imgur.com/Cv4dHQb.jpg" alt="Arc du triomphe"  width="200" height="140"> </td>
  </tr>
  </table>
  
</div>

<style>
tr:nth-child(even) {background-color: #f2f2f2;}
h1 {
    text-align: center;
  text-decoration: underline;
  color: #607196
}
table, th, td {
  border: 1px solid black;
}

table {
  width: 80%;
  text-align: center;
}
th,td {
  height: 30px;
}
th {
  background-color: #04AA6D;
  color: white;
}

input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 4px 0;
  box-sizing: border-box;
}
form{
  width: 60%;
  padding: 12px 20px;
  margin: 4px 0;
  box-sizing: border-box;
}
select{
  width: 100%;
  padding: 6px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}
input[type=date]{
  width: 100%;
  padding: 6px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}
</style>

